* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
/* body {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
} */
.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 80vw;;
  height: 45%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 10px;
  /* shadow  */

  background-color: white;
  box-shadow: 0px 5px 10px #0005;
  border-radius: 10px;
}
.card_quote {
  font-size: 45px;
  background-size: cover;
}
/* .card_container {
  display: grid;
  grid-template-columns: 500px;
  padding: 5px 10px;
  padding-bottom: 20px;
} */

.card_text {
  font-size: 20px;
}
.card_sub {
  font-size: 15px;
  text-align: right;
}
.btn {
  display: flex;
  text-align: right;
  justify-content: flex-end;
  flex-direction: column;
}
.card_btn {
  color: white;
  border: 0;
  width: 30px;
  aspect-ratio: 1;
  font-size: 2rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 5px 5px 20px #000;
}
.card_btn:hover {
  box-shadow: 5px 5px 20px #000;
  transition: box-shadow 200ms ease;
}
